body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
}
::placeholder{
    color:#38bdf9;
}
#todo-input {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    background-color: #18324d;
    border-color: #38bdf9;
    color:#38bdf9;
}

#add-todo-btn {
    background-color: #18324d;
    border-color: #38bdf9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 19px;
    cursor: pointer;
}

#add-todo-btn:hover {
    background-color: #18324d;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin-left: 0px;
}

#todo-list li {
    padding: 15px;
    border-color:#38bdf9;
    border:solid;
    color: #38bdf9;
    margin: 10px 0px;
    border-radius: 20px;
    width: 60%;
    position: relative;
}



#todo-list li span {
    font-size: 18px;
}

#todo-list li button {
  background-color: #f44336;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  position: absolute; /* Change from fixed to absolute */
  right: 10px; /* Position the button 10px from the right edge of the list item */
  top: 50%; /* Position the button 50% from the top edge of the list item */
  transform: translateY(-50%); /* Center the button vertically */
  transition: 0.3s;
}

#todo-list li button:hover {
    background-color: #e91e63;
}
